:root {
  --square-size:  min(80px, 12vw);
}

.square {
  width: var(--square-size);
  height: var(--square-size);
}

.grid {
  display: grid;
  grid-template-columns: repeat(8,  var(--square-size));
  grid-template-rows: repeat(8,  var(--square-size));
}

.light {
  background-color: #f0d9a5;
}

.light:hover {
  background-color: #c2b086;
}

.dark {
  background-color: #7d5019;
}

.dark:hover {
  background-color: #5c3b12;
}

.selected-color {
  background-color: #ff7300;
}

.piece {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
